/* base.css overrides */

html,
body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.7em;
	color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
	background: #205C7E;
	width: 80%;
	margin: 0 auto;
}
h1 {
  /*	position: absolute;
	top: -120px;*/
	width: 100%;
	font-size: 50px;
	line-height: 50px;
	font-weight: bold;
	text-align: center;
}
pre{
	margin: 2px;
}
code{
	background-color: #444;
	color: #EEE;

	padding: 1px;
	margin: 0 0 10px;
	font-size: 90%;
	word-break: break-all;
	word-wrap: break-word;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
code.block{
	display: block;
	background-color: #555;
	color: #EEE;
}
.hidden{
	display:none;
}
/* IE doesn't support the hidden attribute */
[hidden] {
	display: none;
}
a{
	color: #BBB;
}
a:hover{
	color: #EEE;
}
a:visited{
	color: #999;
}

#exampleApp {
	position: relative;
}
#header {
	padding-top: 15px;
	border-radius: inherit;
}

dl{
	margin: 0;
}
tomalec-sortable-list li{
	color: rgb(57, 57, 57);
	background-color: #fff;
	border: 1px solid #b9b9b9;
	border-bottom-color: #939393;
	border-radius: 3px;
	margin: 6px;
	width: 100px;
	padding: 6px;
	position: relative;
	z-index: 0;
	font-size: 14px;
    list-style: none;
}

tomalec-sortable-list{
	background: #E3E3E3;
	background: rgb(227, 227, 227, 0.9);
	/*margin: 130px 0 40px 0;*/
	margin: 4px;
	border: 1px solid #ccc;
	padding: 0;
	position: relative;
	z-index: 2;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2),
				0 25px 50px 0 rgba(0, 0, 0, 0.15);
}
tomalec-sortable-list tomalec-sortable-list{
	width: 70%;
	padding-top: 12px;
}

body [unresolved] tomalec-sortable-list{
	height: 1em;
}

tomalec-sortable-list:hover,
tomalec-sortable-list li:hover{
    border-color:#2b7cab;
    transition: border-color 200ms ease-in-out;
}
tomalec-sortable-list.over,
tomalec-sortable-list li.over{
    background: #c0c0c0;
    transition: background 200ms ease-in-out;
}
tomalec-sortable-list.move,
tomalec-sortable-list li.move{
    opacity: .5;
}

.footer {
	display: block;
	width: 100%;
	color: #777;
	background-color: #D0DADF;
	box-shadow:
				0 1px 2px 0 rgba(0, 0, 0, 0.2);
	padding: 3px 15px;;
	text-align: left;
	position: relative;
}

.footer:before {
	content: '';
	top: -2px;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
	z-index: 1;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3)
				;
}
