:host {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    }

::content li{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}
/*
    Legacy Firefox implementation treats all flex containers
    as inline-block elements.
*/

@-moz-document url-prefix() {
    :host {
        width: 100%;
        -moz-box-sizing: border-box;
    }

}
::content [draggable=true] {
    cursor: move;
}
